<div class="footer-wrapper">
  <iframe width="1000" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
          src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=sk&amp;geocode=&amp;q=Pova%C5%BEanova+2,+Bratislava-D%C3%BAbravka,+Slovensk%C3%A1+republika&amp;aq=0&amp;oq=Pova%C5%BEanova+2&amp;sll=37.0625,-95.677068&amp;sspn=37.546691,86.572266&amp;ie=UTF8&amp;hq=&amp;hnear=Pova%C5%BEanova+1856%2F2,+841+02+D%C3%BAbravka,+Slovensk%C3%A1+republika&amp;ll=48.184166,17.036547&amp;spn=0.007726,0.021136&amp;t=m&amp;z=14&amp;output=embed"></iframe>
  <div class="contact-details">
    Details:
  </div>
</div>
