.image-wrapper {
  height: 200px;
  background-color: green;
  position: relative;

  animation: pulsate 2s ease-out;
  animation-iteration-count: infinite;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 100px;
  height: 100px;
}

@keyframes pulsate {
  0% {
    background-color: rgba(128, 128, 128, 0);
  }
  50% {
    background-color: rgba(128, 128, 128, 0.5);
  }
  100% {
    background-color: gray;
  }
}

img {
  height: 200px;
}
