<h2>Cennik</h2>
<div class="content">
  <div class="section">
    <h3>Masaze</h3>

    <div class="sub-section">
      <h4>Klasická masáž</h4>
      <div class="items">
        <div>30 min. 18 €</div>
        <div>60 min. 28 €</div>
        <div>90 min. 39 €</div>
      </div>
    </div>

    <div class="sub-section">
      <h4>Športová masáž</h4>
      <div class="items">
        <div>30 min. 19 €</div>
        <div>60 min. 30 €</div>
        <div>90 min. 42 €</div>
      </div>
    </div>

    <div class="sub-section">
      <h4>Bankovanie</h4>
      <div class="items">
        <div>30 min. 19 €</div>
        <div>60 min. 29 €</div>
      </div>
    </div>

    <div class="sub-section">
      <h4>Aróma masáž</h4>
      <div class="items">
        <div>30 min. 20 €</div>
        <div>60 min. 34 €</div>
      </div>
    </div>


    <div class="sub-section">
      <h4>Relaxačná masáž</h4>
      <div class="items">
        <div>30 min. 18 €</div>
        <div>60 min. 28 €</div>
      </div>
    </div>


    <div class="sub-section">
      <h4>Lymfodrenážna masáž </h4>
      <div class="items">

        <div>90 min. 36 €</div>
        <div>120 min. 44 €</div>
      </div>
    </div>

    <div class="sub-section">
      <h4>Reflexná masáž nôh</h4>
      <div class="items">
        <div>30 min. 18 €</div>
      </div>
    </div>

    <div class="sub-section">
      <h4>Relaxačná masáž</h4>
      <div class="items">
        <div>30 min. 18 €</div>
      </div>
    </div>

    <div class="sub-section">
      <h4>Masážna posteľ </h4>
      <div class="items">
        <div>20 min. 5 €</div>
        <div>40 min. 7 €</div>
      </div>
    </div>

    <div class="sub-section">
      <h4>Rašelinové zábaly</h4>
      <div class="items">
        <div>20 min. 14 €</div>
      </div>
    </div>
  </div>

  <div class="section">
    <h3>Jacuzzi</h3>
    <div>1 hod / na jednu osobu, rezervácia 10 €</div>
    <div>2 hod. 18 €</div>
  </div>

  <div class="section">
    <h3>Sauna</h3>
    <div>vstup (plachta + uterák) max 3 hod. 10 €</div>
    <div>vstup nad 3 hod. do 30 min. 1,70 €</div>
    <div>infra sauna pred masážou 30 min. 2,50 €</div>
    <div>infra sauna samostatne max 1 hod. 5 €</div>
  </div>
</div>

<div class="section other">
  Rezervácia celého RELAX WORLD´S 5 hod./ max. 10 osôb 145 €
  Rezervácia celého RELAX WORLD´S 3 hod./ max. 5 osôb 65 €
</div>
