<!--The content below is only a placeholder and can be replaced.-->
<app-header-panel class="header"
                  [items]="items"
                  [img]="img"></app-header-panel>

<app-section-list>
  <app-section id='intro'>
    <app-paralax
      class="minimal-height full-width"
      [backgroundImage]="'assets/sauna1.jpg'">

      <app-panels-container>
        <app-panel *ngFor="let data of panelData"
                   class="panel-info"
                   [openable]="true"
                   [title]="data.title"
                   [message]="data.message"
                   [picture]="data.picture"></app-panel>
      </app-panels-container>

    </app-paralax>
  </app-section>

  <div class="full-width blue">
  </div>

  <app-section id='sauna'>
    <app-paralax
      class="full-width"
      [backgroundImage]="'assets/sauna2.jpg'">
      <app-panel class="full-width-panel"
                  [openable]="true"
                 [title]="sauna.title"
                 [message]="sauna.message"></app-panel>
    </app-paralax>
  </app-section>

  <div class="full-width orange">
  </div>

  <app-section id='massage'>
    <app-paralax
      class="full-width"
      [backgroundImage]="'assets/massage.jpg'">
      <app-panel class="full-width-panel"
                 [openable]="true"
                 [title]="sauna.title"
                 [message]="sauna.message"></app-panel>
    </app-paralax>
  </app-section>

  <div class="full-width orange">
  </div>

  <app-section id='jacuzzi'>
    <app-paralax
      class="full-width"
      [backgroundImage]="'assets/jacuzzi2.jpg'">
      <app-panel class="full-width-panel"
                 [openable]="true"
                 [title]="sauna.title"
                 [message]="sauna.message"></app-panel>
    </app-paralax>
  </app-section>

  <app-section id='price'>
    <app-prices class="prices"></app-prices>
  </app-section>

</app-section-list>
<app-footer></app-footer>
