<div [ngClass]="{'scrolled': isScrolled}" class="header-wrapper">

  <a href="/">
    <img [src]="img">
  </a>

  <nav class="items-container">
    <div class="link" *ngFor="let item of items"
         (click)="selectItem(item)"
         (mouseover)="hoverItem(item)"
         (mouseleave)="resetHoverItem()">
      <div class="content">
        <span>{{item.label}}</span>
        <div *ngIf="hasUnderline(item)" class="underline"></div>
      </div>

    </div>
  </nav>

  <div class="actions" (click)="openLanguages()">
    <ng-container *ngIf="activeTranslation">
      <img [src]="activeTranslation">
    </ng-container>
  </div>
</div>

<div *ngIf="languageSettingsVisible" class="language-selection">
  <div class="languages">
    <div class="img-wrapper" *ngFor="let language of allLanguages" (click)="setLanguage(language)" >
    <img [src]="getLanguageImage(language)" >
    </div>
  </div>
</div>
